{% extends 'city_person/base.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Город</th>
      <th scope="col">Численность</th>
      <th scope="col">Жители</th>
    </tr>
  </thead>
  <tbody>
        <tr>
    {% for city in biggest_cities %}
        <tr>
            <th scope="row">{{ city.id }}</th>
            <td>{{ city.name }}</td>
            <td>{{ city.num_persons }}</td>
            <td>
            {% for person in city.persons.all %}
                {{ person }}<br>
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
        </tr>
  </tbody>
</table>
{% endblock %}