{% extends 'city_person/base.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Город</th>
      <th scope="col">Жители</th>
    </tr>
  </thead>
  <tbody>
    {% for city in cities %}
        <tr>
            <th scope="row">{{ city.id }}</th>
            <td>{{ city.name }}</td>
            <td>
            {% for person in city.persons.all %}
                {{ person }}<br>
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}