{% extends 'city_person/base.html' %}

{% block content %}
<br/>
<form method="GET" class="row g-3">
  <div class="col-auto">
    <input type="text" name="search" class="form-control" placeholder="Город">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Получить данные</button>
  </div>
</form>
<div><br></div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Город</th>
      <th scope="col">Жители</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            {% for city in selcities %}
                <tr>
                    <th scope="row">{{ city.id }}</th>
                    <td>{{ city.name }}</td>
                    <td>
                        {% for person in city.persons.all %}
                            {{ person }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tr>
  </tbody>
</table>
{% endblock %}